body {
    overflow-x: hidden;
}

.sidebar {
    height: 100vh;
}

.bg-sidebar{
    background-color: #7C444F;
}

.sidebar .nav-link {
    color: rgb(204, 204, 204);
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.sidebar .nav-link:hover {
    color: rgb(255, 255, 255);
}

.sidebar-active{
    color: rgb(255, 255, 255);
}

.bg-second-sidebar{
    background-color: #91505d;
}

#sidebar {
    width: 250px;
    min-width: 200px;
    max-width: 100%;
    position: fixed;
    height: 100vh;
    overflow-y: auto;
    transition: transform 0.3s ease-in-out;
    transform: translateX(0); /* Default: visible */
    background-color: #f8f9fa; /* Optional: Ensure consistent color */
}

#sidebar.hidden {
    transform: translateX(-100%); /* Hide sidebar by sliding it out */
}

#mainContent {
    transition: margin-left 0.3s ease-in-out;
    margin-left: 250px; /* Match the sidebar width */
}

#mainContent.expanded {
    margin-left: 0; /* Expand main content when sidebar is hidden */
}

@media (max-width: 768px) {
    #sidebar {
        width: 0; /* Reduce width for smaller screens */
    }
    #mainContent {
        margin-left: 190px; /* Adjust main content margin */
    }
    #mainContent.expanded {
        margin-left: 0;
    }
}
